


.icons-fav-20 {
	background-image: url(fav_icons.png);
	background-repeat: no-repeat;
	display: inline-block;
	height: 20px;
	width: 20px;
	margin: 0 0 0 0;
}

.icons-fav-off-20 {
	background-position: 0px 0px;
}

.icons-fav-on-20 {
	background-position: -24px 0px;
}


.icons-fav-32 {
	background-image: url(fav_icons-32x32.png);
	background-repeat: no-repeat;
	display: inline-block;
	height: 32px;
	width: 32px;
	margin: 0 0 0 0;
}

.icons-fav-off-32 {
	background-position: 0px 0px;
}

.icons-fav-on-32 {
	background-position: -32px 0px;
}



.icons-sun-64 {
	background-image: url(sun-icons-set-64.png);
	background-repeat: no-repeat;
	display: block;
	height: 64px;
	width: 64px;
	margin: 0 0 0 0;
}

.icon-sun-64-1 {
	background-position: 0px 0px;
}

.icon-sun-64-2 {
	background-position: -64px 0px;
}

.icon-sun-64-3 {
	background-position: -128px 0px;
}

.icon-sun-64-4 {
	background-position: -192px 0px;
}


.icons-sun-32 {
	background-image: url(sun-icons-set-32.png);
	background-repeat: no-repeat;
	display: block;
	height: 32px;
	width: 32px;
	margin: 0 0 0 0;
}

.icon-sun-32-1 {
	background-position: 0px 0px;
}

.icon-sun-32-2 {
	background-position: -32px 0px;
}

.icon-sun-32-3 {
	background-position: -64px 0px;
}

.icon-sun-32-4 {
	background-position: -96px 0px;
}

#search_form ul,
.nobullets {
	list-style-type: none;
        margin: 0 0 0 0;
}


#event_list table {
	border: 0px; 
	border-bottom: 1px solid #ddd;
}

#event_list table:first-child {
	background-color: #FFF8DF;
	border-color: #FFD324;
	padding:3px;
	margin:0;
}

#event_list table:first-child td {
    font-weight:bold;
    color: #514721;
 }
 
#event_list .title {
    font-weight:bold;
    font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em;
}

#event_list a {
    text-decoration: none;
}


.yellowbox {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
	background-color: #FFF8DF;
	border: 1px solid #FFD324;
	padding: 5px;
}


.bluebox {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
	padding: 5px;
}

.greenbox {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
	background-color: #E6EFC2;
	border: 1px solid #C6D880;
	padding: 5px;
}

