{% extends 'base.html' %}

{% block title %}Invite for event{% endblock %}

{% block content %}

{% comment %}
<span class="hidden">{{ next }}?skipped=1</span>
{% endcomment %}

<fb:serverFbml style="width:755px; height=655px;">
<script type="text/fbml">

	<fb:request-form action="{{ next }}?skipped=1" method=POST invite="false" type="Art of Living Events"
	content="{{ content }}">
	<fb:multi-friend-selector max="20" actiontext="Let your friend know about {{ event.name }}!" rows="5" exclude_ids="{{ exclude_ids }}">
	</fb:multi-friend-selector>
	</fb:request-form>

</script>
</fb:serverFbml>

{% endblock %}
